h1 = @post.title
p = @post.body

= render 'posts/likes/like'
= render 'posts/comments/form' if user_signed_in?
= render partial: 'posts/comments/comment', collection: @comments.filter { |comment| comment.is_root? }




  


